@inherits NBrightBuy.QtyPromo.render.RazorTokens<NBrightDNN.NBrightRazor>
@using System.Globalization
@using System.Linq
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightQtyPromo/App_LocalResources/")

@{
    // assign Model, so we can resolve var in VS
    var info = (NBrightInfo)Model.List.First();
}

@{
    var hasQtyPromo = HasQtyPromo(info.ItemID);
    if (hasQtyPromo.ToString() == "true")
    {
        <div>
            FROM: @QtyPromoFromPrice(info.ItemID)
        </div>
        <div>
            @QtyPromoDescription(product.Info.ItemID)
        </div>
    }
    else
    {
        <div>NO PROMOTION</div>
    }
}

